<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
        <h1>Cadastro</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
   <br>
   <form action="/alunos" method="post">
        <input type="hidden" name="id" value="${data.id}">
    <input type="text" name="nome" placeholder="nome" value="${data.nome}">
    <input type="email" name="email" placeholder="email" value="${data.email}">
    <label>Curso: </label>
    <p>
        <label>
          <input name="curso" type="radio" value="ads" checked="${data.curso == 'ads'}"/>
          <span>ADS</span>
        </label>
      </p>
      <p>
        <label>
          <input name="curso" type="radio" value="qualidade" checked="${data.curso == 'qualidade'}"/>
          <span>qualidade</span>
      </label>
      </p>
      <p>
        <label>
          <input name="curso" type="radio" value="ipi" checked="${data.curso == 'ipi'}"/>
          <span>Informatica para Internet</span>
      </label>
      </p>


    <a href="/" style="margin-right:10pt" class="waves-effect waves-light btn">Cancelar</a>

    <button class="waves-effect waves-light btn" type="submit">Salvar</button>
   </form>
    </div>
    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>